body {
    background-color: #34495E;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #D7DBDD;
    text-align: center;
    margin-left: 20px;
}

h2 {
  font-family: Verdana, Geneva, sans-serif;
  color: #D7DBDD;
  text-align: center;
}

h4 {
  font-family: Verdana, Geneva, sans-serif;
  color: #D7DBDD;
  text-align: center;
  font-size: 10px;
}
